<template>
    <div class="my-2">
        <v-layout text-xs-center wrap>
            <v-flex xs12>
                <h1 class="display-4 font-weight-bold"> {{ win }} </h1>
                <v-divider class="mt-2"></v-divider>
            </v-flex>
        </v-layout>
    </div>
</template>

<script>
    import { mapState,  mapActions } from 'vuex';

    export default {
        data: () => ({
        }),
        computed: {
            ...mapState([
                'win'
            ]),

        },
        created () {
            this.COUNT_WIN();
        },

        methods: {
            ...mapActions(['COUNT_WIN']),
        }
    }
</script>

<style scoped>

</style>