<template>
    <v-navigation-drawer
            id="app-drawer"
            v-model="inputValue"
            app
            dark
            floating
            persistent
            mobile-break-point="991"
            width="260"
    >
        <v-img
                :src="background_image"
                :gradient="sidebarOverlayGradiant"
                height="100%"
        >
            <v-layout
                    class="fill-height"
                    column
            >
                <router-link to="/">
                    <v-list-tile avatar>
                        <v-list-tile-avatar
                                color="white">
                            <v-img
                                    :src="avatar_logo"
                                    height="34"
                                    contain
                            />
                        </v-list-tile-avatar>
                        <v-list-tile-title class="title text--white">
                            공뇽탁구단
                        </v-list-tile-title>

                    </v-list-tile>
                </router-link>
                <v-divider/>
                <v-list-tile
                        v-if="responsive"
                >
                </v-list-tile>
                <v-list-tile
                        v-for="(link, i) in links"
                        :key="i"
                        :to="link.to"
                        :active-class="color"
                        avatar
                >
                    <v-list-tile-action>
                        <v-icon>{{ link.icon }}</v-icon>
                    </v-list-tile-action>

                    <v-list-tile-content>
                        <v-list-tile-title class="white--text">{{ link.text }}</v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>
            </v-layout>
        </v-img>
    </v-navigation-drawer>
</template>

<script>
    import { mapMutations } from "vuex";

    export default {
        data: () => ({
            color: 'red',
            mini: false,
            right: null,
            responsive: false,
            links: [
                {text: 'TEAM', icon: 'group', to: 'team'},
                {text: 'MEMBER', icon: 'face', to: 'member'},
                {text: 'MATCH LIST', icon: 'list', to: 'list'},
                {text: 'TIMELINE', icon: 'create', to: 'write'},
                {text: 'RANK', icon: 'insert_chart_outlined', to: 'rank'},
            ],
            avatar_logo: require('../assets/logo.jpg'),
            background_image: require('../assets/gong_bg.png'),
        }),
        computed: {
            inputValue: {
                get () {
                    return this.$store.state.drawer
                },
                set (val) {
                    this.setDrawer(val)
                }
            },
            sidebarOverlayGradiant () {
                return `${this.$store.state.sidebarBackgroundColor}, ${this.$store.state.sidebarBackgroundColor}`
            }
        },
        mounted () {
            this.onResponsiveInverted()
            window.addEventListener('resize', this.onResponsiveInverted)
        },
        beforeDestroy () {
            window.removeEventListener('resize', this.onResponsiveInverted)
        },
        methods: {
            ...mapMutations(['setDrawer', 'toggleDrawer']),
            onResponsiveInverted () {
                if (window.innerWidth < 991) {
                    this.responsive = true
                } else {
                    this.responsive = false
                }
            }
        }
    }
</script>

<style scoped>
    a {
        text-decoration: none;
        color: #fff;
    }
</style>