<template>
    <v-toolbar app dark color="red darken-3" flat prominent>
        <v-btn dark
                @click.stop="onClickBtn"
                icon><v-icon>menu</v-icon></v-btn>
                {{ title }}
        <v-spacer></v-spacer>
        <router-link to="/">
            <v-btn icon><v-icon>fas fa-table-tennis</v-icon></v-btn>
        </router-link>
    </v-toolbar>
</template>

<script>
    import { mapMutations } from "vuex";

    export default {
        data: () => ({
            title: null,
        }),

        watch: {
            '$route' (val) {
                this.title = val.name
            }
        },
        methods: {
            ...mapMutations(['setDrawer', 'toggleDrawer']),
            onClickBtn() {
                this.setDrawer(!this.$store.state.drawer)
            }
        }
    }
</script>

<style scoped>
    a {
        text-decoration: none
    }
</style>