<template>
    <div id="chart" v-if="ready">
      <apexchart type=line height=500 :options="chartOptions" :series="series" />
    </div>
</template>

<script>
  import VueApexCharts from 'vue-apexcharts';
  import { mapState, mapActions } from 'vuex';
  import moment from 'moment';

  export default {
    components: {
      apexchart: VueApexCharts,
    },
    methods: {
      ...mapActions([
        'FETCH_MATCH'
      ]),
      setting_chart(){  
        let series = [
          { name: 'jh100', data:[] },
          { name: 'gwRyu', data:[] },
          { name: 'srChoi', data:[] }
        ]
        var data1 = 0
        var data2 = 0
        var data3 = 0
        var dateList = []
        var tmpDate=''
        function dataCount(id){
          switch (id){
            case 1:
              data2 += 1;
              break;
            case 3: 
              data1 += 1;
              break;
            case 2:
              data3 += 1;
              break;
            default:
              return
          }
        }
        for (var i in this.match){
            // 뒤에서 부터 시작
            let item = this.match[this.match.length-1-i];
            console.log(item);
            // console.log(tmpDate);
            if(moment(item['date']).format('x') != tmpDate){
                tmpDate = moment(item['date']).format('x');
                console.log(tmpDate);
                dateList.push(tmpDate);
                if (data1==0 && data2 ==0 && data3 ==0){
                    console.log('이건 푸시 안함');
                }else{
                    series[0].data.push(data1);
                    series[1].data.push(data2);
                    series[2].data.push(data3);
                }
            
            }
            try{
                if (item.type == "S"){
                    dataCount(item['pingpongPlayings'][0].playerId);
                }else if(item.type == "D"){``

                    dataCount(item['pingpongPlayings'][0].playerId);

                    if (item['pingpongPlayings'].length > 2){
                        dataCount(item['pingpongPlayings'][2].playerId);
                    }
                }
            }catch (exception){
                console.log(exception)
            }
        }
        series[0].data.push(data1)
        series[1].data.push(data2)
        series[2].data.push(data3)

        console.log(dateList);
        this.series = series;
        this.chartOptions.xaxis.categories = dateList
      }
    },

    computed: {
      ...mapState([
        'match'
      ]),
    },
    mounted() {
        console.log('mounted');
        this.FETCH_MATCH().then((res) => {
            this.setting_chart();
            this.ready = true
        })
    },
    data: () => {
      return {
        ready: false,
        chartOptions: {
          chart: {
              shadow: {
                  enabled: true,
                  color: '#000',
                  top: 18,
                  left: 7,
                  blur: 10,
                  opacity: 1
              },
              toolbar: {
                  show: true,
                  autoSelected: 'pan'
              },
          },
          colors: ['#00E396', '#0090FF', '#ff4560'],
          dataLabels: {
              enabled: true,
          },
          stroke: {
              curve: 'smooth'
          },
          grid: {
              borderColor: '#e7e7e7',
              row: {
                  colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
                  opacity: 0.5
              },
          },
          markers: {
              size: 6
          },
          selection: {
              enabled: true,
              xaxis: {
                  min: moment().subtract(7, 'days').format('x'),
                  max: moment().format('x'),
              }
          },
          xaxis: {
              tickAmount: 7
          },
          yaxis: {
              title: {
                  text: 'win'
              },
              min: 0,
              max: 100
          },
          legend: {
              position: 'top',
              horizontalAlign: 'right',
              floating: true,
              offsetY: -25,
              offsetX: -5
          },
        },
      }
    },
  }

</script>

<style scoped>

</style>