<template>
  <v-app>
    <tool-bar></tool-bar>
    <navigation-drawer></navigation-drawer>
    <v-content py-0>
      <count-win></count-win>
      <div id="core-view">
        <v-fade-transition name="page" mode="out-in">
          <router-view />
        </v-fade-transition>
      </div>
    </v-content>
    <!-- <transition name="page">
      <router-view />
    </transition> -->
  </v-app>
</template>

<script>
    //import AddWinInput from './views/AddInputView.vue'
    import CountWin from './components/CountWin.vue'
    import ToolBar from './components/ToolBar.vue'
    import NavigationDrawer from './components/NavigationDrawer.vue'

    export default {
        name: 'App',
        components: {
            //AddWinInput,
            CountWin,
            ToolBar,
            NavigationDrawer
        },
        data () {
            return {
                //
            }
        }
    }
</script>
