<template>
  <v-container app class="py-1">
    <v-layout text-xs-center wrap>
      <v-flex>
        <form>
            <v-menu
                    v-model="menu"
                    :close-on-content-click="false"
                    :nudge-right="40"
                    lazy
                    transition="scale-transition"
                    offset-y
                    full-width
                    min-width="290px"
            >
              <template v-slot:activator="{ on }">
                <v-text-field
                        v-model="date"
                        prepend-icon="event"
                        readonly
                        v-on="on"
                ></v-text-field>
              </template>
              <v-date-picker v-model="date" @input="menu = false"></v-date-picker>
            </v-menu>
            <v-container fluid pa-0>
              <v-layout align-center>
                <v-flex xs3>
                  <p class="left ma-0 subheading font-weight-regular">TYPE</p>
                </v-flex>
                <v-flex xs9>
                  <v-radio-group v-model="type" row>
                    <v-radio color="red darken-3" label="SINGLE" value="S" @change="changeType('s')"></v-radio>
                    <v-radio color="red darken-3" label="DOUBLE" value="D" @change="changeType('d')"></v-radio>
                  </v-radio-group>
                </v-flex>
              </v-layout>
              <v-layout align-center row wrap>
                <v-flex xs4>
                  <p class="left my-2 subheading font-weight-regular">MY</p>
                </v-flex>
                <v-flex xs12 lg9 offset-lg3>
                    <div v-if="type == 'S'">
                      <v-layout row wrap>
                        <v-flex xs3 lg1 v-for="(item, index) in myPlayer" :key="index">
                          <v-btn fab small class="ma-2 btn_player"
                                 :color="(item.on == true) ? 'red darken-3' : item.color"
                                 dark @click="addMember(item, 'm')">
                            {{item.nick}}
                          </v-btn>
                        </v-flex>
                      </v-layout>
                    </div>
                    <div v-else>
                      <v-layout row wrap>
                        <v-flex xs3 lg1 v-for="(item, index) in single_opponent" :key="index">
                          <v-btn fab small class="ma-2 btn_player"
                                 :color="(item.on == true) ? 'red darken-3' : item.color"
                                 dark @click="addMember(item, 'm')">
                            {{item.nick}}
                          </v-btn>
                        </v-flex>
                      </v-layout>
                    </div>
                </v-flex>
              </v-layout>
              <v-layout align-center row wrap>
                <v-flex xs4>
                  <p class="left my-2 subheading font-weight-regular">OPPONENT</p>
                </v-flex>
                <v-flex xs12 lg9 offset-lg3>
                  <div v-if="type == 'S'">
                    <v-layout row wrap>
                      <v-flex xs3 lg1 v-for="(item, index) in all_member" :key="index">
                        <v-btn fab small class="ma-2 btn_player"
                               :color="(item.on == true) ? 'red darken-3' : item.color"
                               dark @click="addMember(item, 'y')">
                          {{item.nick}}
                        </v-btn>
                      </v-flex>
                    </v-layout>
                  </div>
                  <div v-else>
                    <v-layout row wrap>
                      <v-flex xs3 lg1 v-for="(item, index) in double_opponent" :key="index">
                        <v-btn fab small class="ma-2 btn_player"
                               :color="(item.on == true) ? 'red darken-3' : item.color"
                               dark @click="addMember(item, 'y')">
                          {{item.nick}}
                        </v-btn>
                      </v-flex>
                    </v-layout>
                  </div>
                </v-flex>
              </v-layout>

              <v-layout align-center py-2>
                <v-flex xs3><p class="left ma-0 subheading font-weight-regular">TIMES</p></v-flex>
                <v-flex xs9>
                    <v-chip fab dark small v-for="(item, index) in timesArr" :key="index"
                            :color="(item.on===true) ? 'red darken-2' : 'grey darken-3 white--text' "
                            @click="addTime(item)"> {{ index + 1 }}</v-chip>
                </v-flex>
              </v-layout>
            </v-container>
          <v-btn block color="yellow lighten-3" large @click="submit">WIN</v-btn>
        </form>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  import { validationMixin } from "vuelidate"
  import { required, maxLength, email } from "vuelidate/lib/validators"
  import {mapState, mapActions } from 'vuex';

  export default {
      mixins: [validationMixin],

      validations: {
          type: { required, maxLength: maxLength(10) },
          my1: { required },
          your1: { required },
      },

      data: () => ({
          date: new Date().toISOString().substr(0, 10),
          menu: false,
          times: 1,
          type: 'S',
          name: '',
          btn01: false,
          btn02: false,
          btn03: false,
          btn04: false,
          btn05: false,
          result: 'W',
          color1: 'gray',
          color2: 'gray',
          color3: 'gray',
          color4: 'gray',
          color5: 'gray',
          timesArr:[
	          { count: 1, on: true },
	          { count: 2, on: false },
	          { count: 3, on: false },
	          { count: 4, on: false },
	          { count: 5, on: false },
          ],
          selected_opponents: [],
          selected_opponents_info: [],
          selected_proponents: [],
          selected_proponents_info: [],
      }),
      mounted(){
        this.MY_PLAYER_LIST({});
        this.All_MEMBER_LIST({})
      },
      computed: {
        ...mapState([
            'myPlayer',
            'all_member',
            'single_opponent',
            'double_opponent'
        ]),
      },

      methods: {
          ...mapActions([
            'CREATE_MATCH', 'COUNT_WIN', 'MY_PLAYER_LIST', 'All_MEMBER_LIST'
          ]),

          addTime(item) {
	          this.timesArr.forEach(function(data) {
		          data.on = false;
              });
              console.log(item)
	          item.on = !item.on;
              this.times = item.count;
          },
          addMember(item, team){
	          if(((team === 'm') ? this.selected_proponents.indexOf(item.name) : this.selected_opponents.indexOf(item.name)) === -1) {
		          // 단식인지 복식인지 확인
	          	  if (this.type === 'S'){
			          if (((team === 'm') ? this.selected_proponents.length : this.selected_opponents.length) < 1){
				          (team === 'm') ? this.selected_proponents.push(item.name) : this.selected_opponents.push(item.name);
				          (team === 'm') ? this.selected_proponents_info.push(item) : this.selected_opponents_info.push(item);
			          }else {
				          (team === 'm') ? this.selected_proponents.splice(0, 1, item.name) : this.selected_opponents.splice(0, 1, item.name);
				          (team === 'm') ? this.selected_proponents_info[0].on = false : this.selected_opponents_info[0].on = false;
				          (team === 'm') ? this.selected_proponents_info.splice(0, 1, item) : this.selected_opponents_info.splice(0, 1, item);
			          }
		          }else if(this.type ==='D'){
			          if (((team === 'm') ? this.selected_proponents.length : this.selected_opponents.length) < 2){
				          (team === 'm') ? this.selected_proponents.push(item.name) : this.selected_opponents.push(item.name);
				          (team === 'm') ? this.selected_proponents_info.push(item) : this.selected_opponents_info.push(item);
			          }else {
				          (team === 'm') ? this.selected_proponents_info[0].on = false : this.selected_opponents_info[0].on = false;
				          (team === 'm') ? this.selected_proponents.splice(0, 1) : this.selected_opponents.splice(0, 1);
				          (team === 'm') ? this.selected_proponents_info.splice(0, 1) : this.selected_opponents_info.splice(0, 1);
				          (team === 'm') ? this.selected_proponents.push(item.name) : this.selected_opponents.push(item.name);
				          (team === 'm') ? this.selected_proponents_info.push(item) : this.selected_opponents_info.push(item);
			          }
		          }
	          }else{
		          (team === 'm') ? this.selected_proponents_info.splice(this.selected_proponents_info.indexOf(item), 1) : this.selected_opponents_info.splice(this.selected_opponents.indexOf(item), 1);
		          (team === 'm') ? this.selected_proponents.splice(this.selected_proponents.indexOf(item.name), 1) : this.selected_opponents.splice(this.selected_opponents.indexOf(item.name), 1);
              }
              item.on = !item.on;
          },
          submit () {
              this.$v.$touch();
              const formData = new FormData();

              let _srcData = {};

              let my1 = this.selected_proponents_info[0];
              let my2 = (this.selected_proponents_info.length === 2 ? this.selected_proponents_info[1] : '');
              let your1 = this.selected_opponents_info[0];
              let your2 = (this.selected_opponents_info.length === 2 ? this.selected_opponents_info[1] : '');
              console.log(your1);
              console.log(my1);
              let matchName = (this.type === 'S') ? `[${this.type}] ${my1['nick']} vs ${your1['nick']}` : `[${this.type}] ${my1['nick']} X ${my2['nick']} vs ${your1['nick']} X ${your2['nick']}`;
              console.log(matchName);
              _srcData['date'] = this.date;
              _srcData['name'] = matchName;
              _srcData['type'] = this.type;
              _srcData['my1'] = my1['id'];
              _srcData['my2'] = my2['id'];
              _srcData['your1'] = your1['id'];
              _srcData['your2'] = your2['id'];
              _srcData['result'] = this.result;

              console.log(_srcData);

              for(let i = 0; i< parseInt(this.times); i++) {
                  console.log(`${i} 번 추가!`);
                  // this.$store.dispatch('CREATE_MATCH', _srcData);
                  this.CREATE_MATCH(_srcData).then(() => {
                    // 횟수 업데이트 하기
                      this.COUNT_WIN();
                  })
              }
              this.clear();
          },
          changeType(type){
              if (type === 's') {
	              this.myPlayer.forEach(function(item) {
		              item.on = false;
	              });
	              this.single_opponent.forEach(function(item) {
		              item.on = false;
	              });
              }else {
	              this.all_member.forEach(function(item) {
		              item.on = false;
	              });
	              this.double_opponent.forEach(function(item) {
		              item.on = false;
	              });
              }
	          this.selected_opponents = [];
	          this.selected_proponents = [];
	          this.selected_opponents_info = [];
	          this.selected_proponents_info = [];
          },

          initTimes() {
	          this.timesArr.forEach(function(data) {
                  (data.count === 1) ? data.on = true : data.on = false;
	          });
          },

          initMember() {
	          this.myPlayer.forEach(function(item) {
		          item.on = false;
	          });
	          this.single_opponent.forEach(function(item) {
		          item.on = false;
	          });
	          this.all_member.forEach(function(item) {
		          item.on = false;
	          });
	          this.double_opponent.forEach(function(item) {
		          item.on = false;
	          });
          },

          clear() {
              //this.$v.$reset()
              this.name = '';
              this.times = 1;
              this.initTimes();
              this.initMember();
              this.type = 'S';
              this.my1 = '';
              this.my2 = '';
              this.your1 = '';
              this.your2 = '';
              this.selected_opponents = [];
              this.selected_proponents = [];
              this.selected_opponents_info = [];
              this.selected_proponents_info = [];
          }
      }
  }
</script>

<style>
.btn_player {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}
</style>
