<template>
    <div>
        <v-toolbar flat color="grey darken-3">
            <v-toolbar-title class="white--text">List</v-toolbar-title>
            <v-divider
                    class="mx-2"
                    inset
                    vertical
            ></v-divider>
            <v-spacer></v-spacer>
            <v-dialog v-model="dialog" max-width="500px">
                <template v-slot:activator="{ on }">
                    <v-btn color="black" dark class="mb-2" v-on="on">New Game</v-btn>
                </template>
                <v-card>
                    <v-card-title>
                        <span class="headline">{{ formTitle }}</span>
                    </v-card-title>
                    <add-win-input></add-win-input>
                </v-card>
            </v-dialog>
        </v-toolbar>
        <v-data-table
                :headers="headers"
                :items="fetchedMatch"
                :pagination.sync="pagination"
                class="elevation-1">
            <template v-slot:items="props">
                <td class="text-xs-left">{{ props.item.date }}</td>
                <td class="text-xs-right">{{ props.item.type }}</td>
                <template v-if="props.item.pingpongPlayings.length > 2">
                    <td class="text-xs-right">
                        {{ props.item.pingpongPlayings[0].pingpongPlayer.name }},
                        {{ props.item.pingpongPlayings[2].pingpongPlayer.name }}
                    </td>
                    <td class="text-xs-right">
                        {{ props.item.pingpongPlayings[1].pingpongPlayer.name }},
                        {{ props.item.pingpongPlayings[3].pingpongPlayer.name }}
                    </td>
                </template>
                <template v-else>
                <td class="text-xs-right">{{ props.item.pingpongPlayings[0].pingpongPlayer.name }}</td>
                <td class="text-xs-right">{{ props.item.pingpongPlayings[1].pingpongPlayer.name }}</td>
                </template>
            </template>
            <template v-slot:no-data>
                <v-btn color="yellow lighten-3" light @click="initialize">Reset</v-btn>
            </template>
        </v-data-table>
    </div>
</template>

<script>
    import { mapGetters } from "vuex";
    import AddWinInput from "./AddInputView.vue";

    export default {
        name: "ItemView",
        components: {
            AddWinInput,
        },
        data: () => ({
            dialog: false,
            headers: [
                { text: 'DATE', value: 'date' },
                { text: 'TYPE', value: 'type' },
                { text: 'MY', value: 'my' },
                { text: 'YOUR', value: 'your' },
            ],
            pagination: {
                descending: true
            },
            editedIndex: -1,
            editedItem: {
                date: '',
                type: '',
                my: '',
            },
            defaultItem: {
                date: '',
                type: '',
                my: '',
            }
        }),

        computed: {
            formTitle () {
                return this.editedIndex === -1 ? 'New Game' : 'Edit Game'
            },
            ...mapGetters([
                'fetchedMatch',
            ]),
        },

        watch: {
            dialog (val) {
                val || this.close()
            }
        },
        created () {
            this.$store.dispatch('FETCH_MATCH');
        },
        methods: {
            initialize() {
                this.desserts = this.$store.dispatch('FETCH_MATCH');
            },

            editItem(item) {
                this.editedIndex = this.desserts.indexOf(item)
                this.editedItem = Object.assign({}, item)
                this.dialog = true
            },

            close() {
                this.dialog = false
                setTimeout(() => {
                    this.editedItem = Object.assign({}, this.defaultItem)
                    this.editedIndex = -1
                }, 300)
            },

            save() {
                if (this.editedIndex > -1) {
                    Object.assign(this.desserts[this.editedIndex], this.editedItem)
                } else {
                    this.desserts.push(this.editedItem)
                }
                this.close()
            }
        }

    }
</script>

<style scoped>

</style>