<template>
    <div>
        <v-layout column justify-center>
            <v-flex>
                <v-list two-line>
                    <v-subheader>{{ header }}</v-subheader>
                    <template v-for="(item, index) in myPlayer">
                        <v-list-tile
                                avatar
                                @click="update_form = true"
                        >
                            <v-list-tile-avatar>
                                <img :src="avatar_image[item.id]">
                            </v-list-tile-avatar>

                            <v-list-tile-content>
                                <v-list-tile-title v-html="item.name"></v-list-tile-title>
                                <v-list-tile-sub-title v-html="item.one"></v-list-tile-sub-title>
                            </v-list-tile-content>
                        </v-list-tile>
                        <v-divider></v-divider>
                    </template>
                </v-list>
            </v-flex>
        </v-layout>

        <!--<v-dialog v-model="update_form" max-width="500px">
            <v-card>
                <v-card-title>
                    <span>Member_update</span>
                    <v-spacer></v-spacer>
                    <v-menu bottom left>
                        <template v-slot:activator="{ on }">
                            <v-btn icon v-on="on">
                                <v-icon>more_vert</v-icon>
                            </v-btn>
                        </template>
                        <v-list>
                            <v-list-tile v-for="(item, i) in items" :key="i" @click="">
                                <v-list-tile-title>{{ item.title }}</v-list-tile-title>
                            </v-list-tile>
                        </v-list>
                    </v-menu>
                </v-card-title>
                <v-card-actions>
                    <v-btn color="primary" flat @click="dialog3=false">Close</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>-->
        <v-btn @click="createLog"> Test Button</v-btn>
    </div>
</template>
<script>
    import { mapState, mapActions } from 'vuex';

    export default {
        data: () => ({
            header: 'Member List',
            update_form: false,
            avatar_image: {
                '1' : require('../assets/1.jpg'),
                '2' : require('../assets/2.jpg'),
                '3' : require('../assets/3.jpg'),
            },
        }),
        created(){
            this.MY_PLAYER_LIST;
        },

        computed: {
            ...mapState([
                'myPlayer'
            ]),
            ...mapActions([
                'MY_PLAYER_LIST',
            ]),
        },
        methods:{
            createLog(){
              console.log(this.myPlayer)
            },

        },

    }
</script>

<style scoped>

</style>