<template>
    <div>
        <v-container>
            <v-layout row wrap>
                <v-flex xs12>
                    <div v-for="(rank, i) in rank"
                         :key="i" class="ma-3">
                        <v-layout row align-center>
                            <v-flex xs4>
                                <v-avatar size="36px">
                                    <img :src="avatar_image[rank['id']]"
                                         alt="Avatar">
                                </v-avatar>
                            </v-flex>
                            <v-flex xs4>
                                <strong v-html="rank['name']"></strong>
                            </v-flex>
                            <v-flex xs4>
                            <span class="grey--text">
                                {{ rank['pingpongPlayings'][0]['PlayingCount']}}
                            </span>
                            </v-flex>
                        </v-layout>
                    </div>
                </v-flex>
            </v-layout>
            <!-- <v-layout>
                <v-flex>
                    <canvas id="rankChart" width="400" height="400"></canvas>
                </v-flex>
            </v-layout> -->
            <v-layout>
                <!-- <v-flex>
                    <rank-bar-chart></rank-bar-chart>
                </v-flex> -->
                <v-flex>
                    <cumulative-chart
                    ></cumulative-chart>
                </v-flex>
            </v-layout>
        </v-container>
    </div>
</template>

<script>
    import { mapGetters, mapActions, mapState } from 'vuex';
    import Chart from 'chart.js';
    import RankBarChart from '../components/Chart/RankBarChart.vue';
    import CumulativeChart from '../components/Chart/Cumulative.vue';


    export default {
        components: {
            RankBarChart, CumulativeChart
        },
        data: () => ({
            avatar_image: {
                '1' : require('../assets/1.jpg'),
                '2' : require('../assets/2.jpg'),
                '3' : require('../assets/3.jpg'),
            },
        }),
        computed: {
            ...mapState([
                'rank'
            ]),
        },
        created() {
            console.log('created');
        },
        mounted() {
            console.log('mounted');
            this.RANK_MATCH().then((res) => {

                console.log("******************")
                console.log(this.rank)
                console.log("******************")
                this.setting_chart();
            })
        },
        methods: {
            ...mapActions([
                'RANK_MATCH',
            ]),
            setting_chart() {
                var ctx = document.getElementById("rankChart");
                let label = [];
                let chart_data = [];

                this.rank.forEach(function (item, idx) {
                    console.log(item);
                    chart_data.push(item['pingpongPlayings'][0]['PlayingCount']);
                    label.push(item['name']);
                });

                new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: label,
                        datasets: [{
                            label: 'win count',
                            data: chart_data,
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(255, 206, 86, 0.2)',
                            ],
                            borderColor: [
                                'rgba(255, 99, 132, 1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                            ],
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                });
            }


        }
    }
</script>

<style scoped>

</style>