<template>
    <div>
        <v-container>
            <v-layout row wrap align-content-space-between>
                <v-flex xs12>
                    <v-layout>
                        <v-flex xs6><h4 class=""> 선수 : {{ this.on_count }}</h4></v-flex>
                        <v-flex xs6><h4> 응원 : {{ this.off_count }}</h4></v-flex>
                    </v-layout>
                    <v-layout row wrap>
                        <v-flex lg1 v-for="(item, index) in all_member" :key="index">
                            <v-chip class="ma-2" :color="(item.on===true) ? 'grey lighten-2' : 'grey darken-3 white--text' " @click="changeState(item)">
                                {{item.name}}
                            </v-chip>
                        </v-flex>
                    </v-layout>
                </v-flex>
            </v-layout>
            <v-divider class="my-2"></v-divider>
            <v-layout row wrap align-content-space-betwee>
                <v-flex xs12>
                    <p class="left ma-0 subheading font-weight-regular">팀 수</p>
                </v-flex>
                <v-flex xs12>
                    <v-radio-group v-model="teamCnt" row>
                        <v-radio color="red darken-3" label="2" value="2"></v-radio>
                        <v-radio color="red darken-3" label="3" value="3"></v-radio>
                        <v-radio color="red darken-3" label="4" value="4"></v-radio>
                        <v-radio color="red darken-3" label="5" value="5"></v-radio>
                    </v-radio-group>
                </v-flex>
                <v-flex xs12>
                    <p class="left ma-0 subheading font-weight-regular">최대 인원 수</p>
                </v-flex>
                <v-flex xs12>
                    <v-radio-group v-model="teamMaxCnt" row>
                        <v-radio color="red darken-3" label="5" value="5"></v-radio>
                        <v-radio color="red darken-3" label="6" value="6"></v-radio>
                    </v-radio-group>
                </v-flex>
                <v-flex>
                    <v-btn color="yellow lighten-4" block v-on:click="divideTeam">팀나누기</v-btn>
                </v-flex>
            </v-layout>
        </v-container>
    </div>
</template>

<script>
    export default {
        name: "ResultView.vue"
    }
</script>

<style scoped>

</style>