<template>
    <div>
        <v-card>
            <v-img :src="team_logo" contain height="300px">
                <v-container fill-height fluid pa-2>
                </v-container>
            </v-img>
        </v-card>
        <v-card>
            <v-img :src="team_organization" contain height="300px">
                <v-container fill-height fluid pa-2>
                </v-container>
            </v-img>
        </v-card>
    </div>
</template>

<script>
    export default {
        data: () => ({
            ranks : [],
            team_logo : require('../assets/team_logo.jpg'),
            team_organization : require('../assets/organization.jpg'),
        }),
    }
</script>

<style scoped>

</style>