<template>
    <div>
        <v-container style="max-width: 600px;">
        <v-timeline dense clipped>
            <v-timeline-item
                    fill-dot
                    class="white--text mb-5"
                    color="red"
                    large
            >
                    <template v-slot:icon>
                        <span>SL</span>
                    </template>
                    <v-text-field
                            v-model="comment"
                            hide-details
                            flat
                            label="Leave a comment..."
                            solo
                    >
                        <template v-slot:append>
                            <v-flex xs2>
                                <v-btn
                                        class="mx-0"
                                        depressed
                                        small
                                        color="yellow lighten-3"
                                        fab
                                        @click="saveTimeline"
                                >
                                    <v-icon>add</v-icon>
                                </v-btn>
                            </v-flex>
                        </template>
                    </v-text-field>
            </v-timeline-item>

            <!--<v-timeline-item
                    class="mb-4"
                    hide-dot>
                <span>TODAY</span>
            </v-timeline-item>-->

            <v-slide-x-transition
                    group
            >
                <v-timeline-item
                        v-for="n in timeLineData"
                        :key="n.id"
                        class="mb-3"
                        color="pink"
                        small
                >
                    <template v-slot:icon>
                        <v-avatar>
                            <img :src="avatar_image[n['writer_id']]">
                        </v-avatar>
                    </template>
                    <template v-slot:opposite>
                        <span>{{ n.writer_name }}</span>
                    </template>
                    <v-card class="elevation-2">
                        <v-card-text>{{ n.one_text }}</v-card-text>
                        <p class="align-end">{{ n.date }}</p>
                    </v-card>
                </v-timeline-item>
            </v-slide-x-transition>
        </v-timeline>
        </v-container>
    </div>
</template>
<script>
    import { mapState, mapGetters, mapActions } from 'vuex';
    import moment from 'moment';

    export default {
        data: () => ({
            today : moment(),
            header: 'Member List',
            update_form: false,
            avatar_image: {
                '1' : require('../assets/1.jpg'),
                '2' : require('../assets/2.jpg'),
                '3' : require('../assets/3.jpg'),
            },
            addTimeLineMenu : false,
            comment: ''

        }),
        computed: {
            ...mapState([
                'timeLineData'
            ]),
        },
        created() {
            this.TIMELINE_LIST();
        },
        methods:{
            ...mapActions([
                'TIMELINE_LIST', 'TIMELINE_ADD'
            ]),
            saveTimeline() {
                // formData에 보낼 데이터 저장
                let timeLine = {};
                timeLine['comment'] = this.comment;
                timeLine['date'] = moment().format('YYYY-MM-DD HH:mm:ss');
                console.log(timeLine);
                // text-field 정보를 Timeline에다 저장 (req날림)
                this.TIMELINE_ADD(timeLine).then(()=>{
                    // text-field 텍스트 삭제
                    this.comment = '';
                    //menu 닫기
                    this.addTimeLineMenu = false
                    // 성공 완료 메세지 on
                    this.TIMELINE_LIST();
                });
            }
        }

    }
</script>

<style scoped>

</style>